# Plex related ignores
plex/config/*

# Home Assistant related ignores
home-assistant/config/*

# Resilio Sync related ignores
resilio-sync/config/*.db
resilio-sync/config/*.db-wal
resilio-sync/config/.SyncUser1659518027/

# Ignore temporary files
*.bak